.active {
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 1rem;
}

.toolbar {
  margin: 0.5rem;
  padding-left: 0.5rem;
}
li {
  list-style-type: none;
  margin-left: 2rem;
  margin-top: 0.2rem;
  padding-right: 2rem;
  width: 20rem;
}
li:hover {
  color: rgb(0, 38, 255);
  cursor: pointer;
}

ul {
  margin-top: 6rem;
  border-right: solid 2px rgb(0, 38, 255);
}

.title {
  padding: 20px 0;
  color: #5279ec;
}

.wrapper-search {
  margin: 2rem;
}

.wrapper-text {
  margin: 3rem;
}

.wrapper-all {
  display: flex;
}

.formcontrol {
  width: 25%;
}

.routesURL {
  background-color: #ffffff;
  display: inline;
  border: solid 3px rgb(152, 152, 152);
  border-radius: 30px;
  padding: 5px 60px 5px 60px;
}

.scroll_to_top {
  background-color: #5279ec;
  right: 40px;
  bottom: 180px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none;
}

.url {
  margin: 3rem;
}

.end-string {
  color: rgba(116, 116, 116, 0.467);
}
.body-for-cards {
  display: flex;
  justify-content: center;
}

.navlink:active {
  color: white;
}

.wrapper-about {
  display: flex;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 3rem;
}
