.active {
  color: red;
}

.home {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 1.5rem;
}

.toolbar {
  margin: 3rem;
}
li {
  list-style-type: none;
}
li:hover {
  color: rgb(0, 38, 255);
  cursor: pointer;
}

.title {
  padding: 15px 0;
}

.wrapper-search {
  margin: 2rem;
}
.formcontrol {
  width: 15%;
}
