.active {
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 1rem;
  padding-top: 30px;
}

.home_intro_p1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: rgb(77, 74, 74);
  padding: 80px;
}

.home_intro_p2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: #5f2f42;
  background: -moz-linear-gradient(left, #522f5f 0%, #71c4e8 50%, #a9c0c5 100%);
  background: -webkit-linear-gradient(
    left,
    #522f5f 0%,
    #71c4e8 50%,
    #a9c0c5 100%
  );
  background: linear-gradient(to right, #522f5f 0%, #71c4e8 50%, #a9c0c5 100%);
  padding-top: 30px;
}

.anchor-tags {
  text-decoration: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.anchor-tags:hover {
  color: #212226;
  cursor: pointer;
}

.toolbar {
  margin: 0.5rem;
  padding-left: 0.5rem;
}
li {
  list-style-type: none;
  margin-left: 2rem;
  margin-top: 0.2rem;
  padding-right: 2rem;
  width: 20rem;
}
li:hover {
  color: #7f92cd;
  cursor: pointer;
}

ul {
  margin-top: 6rem;
  border-right: solid 3px #7f92cd;
  font-size: 20px;
  line-height: 2.6;
}

.title,
.contact-us {
  padding: 80px 50px 20px 40px;
  justify-content: center;
  color: transparent;
  background: #355ed1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(196, 186, 186, 0.5);
}

.wrapper-search {
  margin: 2rem;
}

.wrapper-text {
  margin: 3rem;
}

.wrapper-all {
  display: flex;
}

.formcontrol {
  width: 25%;
}

.routesURL {
  background-color: #fdfdfdd2;
  display: inline;
  border: solid 3px rgb(107, 107, 108);
  border-radius: 30px;
  padding: 5px 300px 5px 60px;
  margin: 60px;
}
.codeblock {
  margin: 30px 5px;
}

.scroll_to_top {
  background-color: #3580d1;
  right: 40px;
  bottom: 180px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none;
}

.url {
  margin: 3rem;
}

.end-string {
  color: rgba(116, 116, 116, 0.467);
}
.body-for-cards {
  display: flex;
  justify-content: center;
}

.navlink:active {
  color: white;
  transition: margin-right 4s ease-in-out 1s;
}
.navlink {
  color: #355ed1;
  font-weight: bold;
  font-size: larger;
}

.wrapper-about {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 90px;
  padding-bottom: 10px;
}
.doc-title {
  justify-content: center;
  color: transparent;
  background: #355ed1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(196, 186, 186, 0.5);
}

.copyright {
  font-size: 20px;
}
.sfd-footer {
  font-size: 20px;
}

.about-tittle {
  padding: 80px 50px 20px 40px;
  justify-content: center;
  color: transparent;
  background: #355ed1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(196, 186, 186, 0.5);
}
.mernlogo{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footerContent {
  margin-top: 100px;
  padding-top: 100px;
}
